<!DOCTYPE html>
<html lang="en">
<head>
    <title>Asy's</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать на страницу пет-роекта "Full-stack web project"!</h1>
        <p>Этот проект - это увлекательное приключение в мире разработки веб-приложений. Я создал полнофункциональное веб-приложение, которое будет обладать многими возможностями и функциями. Я использую широкий спектр технологий для создания этого приложения, от фронтенд-фреймворков до баз данных.</p>
        <p>Основная цель проекта - научиться создавать веб-приложения с использованием всех необходимых технологий и инструментов. Я постараюсь создать что-то действительно полезное и удобное для пользователей.</p>
        <p>В проекте я использую следующие технологии и инструменты:</p>
        <ul>
            <li>Bootstrap и Tallwind для создания фронтенд-части приложения;</li>
            <li>Flask и Django для создания бэкенд-части приложения;</li>
            <li>SQlAlchemy и PostgreSQL для хранения данных;</li>
            <li>Git для управления версиями кода;</li>
            <li>Docker для упрощения процесса развертывания.</li>
        </ul>
        <a href="/posts" class="btn">Продолжить</a>
    </div>
</body>
</html>
